.buyerBlock{
    padding: 5px;
    font-weight: bold;
    font-size: 15pt;
    color: #141414;
}

ul{
    list-style: none;

}

.custom-list li{
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

/* Alternate background colors for odd and even items */
.custom-list li:nth-child(even) {
    background-color: #141414; /* Dark background for even items */
}

.custom-list li:nth-child(odd) {
    background-color: #000000; /* Darker background for odd items */
}
.custom-list li:hover {
    background-color: #E50914; /* Red accent color for hover */
    color: #FFFFFF; /* Text color on hover */
}