.my-custom-link{
    float: right;
    color: white; /* Change link color to white */
    text-decoration: none; /* Remove underline */
    margin-right: auto; /* Add space between links */
    text-align: center;
    padding: 10px;
    width: 100%;
}
.my-custom-link:hover{
    background-color: white;
    color: black;
}

.logo-img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}